yfinance>=0.2.31
pandas>=1.5.3
numpy>=1.24.3
requests>=2.31.0
lxml>=4.9.2
appdirs>=1.4.4
pytz>=2023.3
frozendict>=2.3.8
beautifulsoup4>=4.12.2
html5lib>=1.1
peewee>=3.16.2
matplotlib>=3.7.1
jupyter>=1.0.0
ipykernel>=6.23.1
pandas_datareader>=0.10.0
